# ===========================
# OS / Editor Specific
# ===========================
*.log
*.pyc
*.swp
*.class
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ===========================
# IDEs
# ===========================
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
.vscode/*

# Android Studio
.gradle/
local.properties
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
**/GeneratedPluginRegistrant.java
*.jks
key.properties
.cxx/

# ===========================
# Flutter / Dart
# ===========================
.dart_tool/
.packages
.packages.generated
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
coverage/
doc/api/

# Symbols & Obfuscation
app.*.symbols
app.*.map.json

# Dart2JS
*.dart.js
*.js
*.js_
*.js.map
*.js.deps
*.info.json

# dotenv / virtual env
.env*
.venv

# ===========================
# iOS / macOS
# ===========================
**/ios/**/Pods/
**/ios/**/xcuserdata/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.moved-aside
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/.generated/
**/ios/Flutter/
**/ios/Flutter/.last_build_id
**/ios/Flutter/*.framework
**/ios/Flutter/*.podspec
**/ios/Flutter/*.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/xcuserdata/

# Exceptions (Xcode)
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# ===========================
# Windows / Linux
# ===========================
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake

**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.cmake

# ===========================
# Firebase & Private Files
# ===========================
firebase.json
google-services.json
lib/firebase_option.dart
lib/firebase_options.dart
s.dart

# ===========================
# Other Flutter Artifacts
# ===========================
/bin/cache/
/bin/internal/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/lib/
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# ===========================
# Misc
# ===========================
**/generated_plugin_registrant.dart
.image/ios/*